body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(59,59,180,1) 47%, rgba(5,12,14,1) 100%);
    
    text-align: center;
}
.bloco {
   
    width: auto;
}
h3 {
    color: antiquewhite;
    text-align: center;
    width: 100%;
}
p {
    color: blanchedalmond;
}
.buttons {
    display:none ;
}
button {
    text-align: center;
}
